.header {
    grid-area: h;
    background-color: #4A4A4A;
}

.logo {
    width: 100px;
    margin-left: 10px;
}

.singIn {
    float: right;
    width: 40px;
    margin: 9px;
}

.myAccount {
    height: 100%;
    float: right;
    margin-right: 5%;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.myAccount img {
    width: 30px;
    margin-right: 5%;
}

.myAccount a {
    padding: 5px 10px;
    background: #79B362;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}