.nav {
    grid-area: n;
    background-color: #DEECBB;
    padding: 30px;
}
nav :last-child {
    margin-top: 20px;
}

.item  a {
    color: white;
    text-decoration: none;
}

.item a.active {
    color: #79B362;
}
