.avatar {
    width: 100%;
    grid-area: avatar;
}

.descriptionBlock {
    font-family: 'Montserrat';
    grid-area: desc;
    background: #DEECBB;
    padding: 10px;
    font-size: 50px;
}

.content {

    display: grid;
    grid-template: "avatar desc";
    grid-template-columns: 200px 1fr;

}